* {
    box-sizing: border-box;
}

.coming-soon {
    opacity: 25%;
    user-select: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
}

#devices {
    min-width: 100%;
}

#devices ul {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    list-style-type: none;
	margin-bottom: 25px;
    padding-left: 0;
}

#devices ul li {
    display: grid;
    grid-template-columns: 250px;
    row-gap: 10px;
}

#devices ul li button {
    width: 100px;
}

body {
    color: #dfe6e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.emissary-restore-btn {
    background-color: green;
    color: white;
}

.emissary-revoke-btn {
    background-color: red;
    color: white;
}

#emissary-bundle-btn {
    font-size: large;
}